name: Terraform CI/CD

on:
  push:
    branches: [ main ]

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3

    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    - name: Terraform Init
      run: terraform init
      working-directory: env/dev

    - name: Terraform Validate
      run: terraform validate
      working-directory: env/dev

    - name: Terraform Plan
      run: terraform plan
      working-directory: env/dev

    - name: Terraform Apply
      run: terraform apply -auto-approve
      working-directory: env/dev
